body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTup6-W2Jp9oGOXrohU1QUf426i9CbgfvfPQG3_beSw4TBqIj0O3u8WSsNY5ltvJyxGRwI&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
}